extends layout
block layout-content
    head
    form.show
            label.label(for='name') Name
                input#name.form-control(type='text' name='name' placeholder='First & Last Name')
            label.label(for='email') Email         
                input#email.form-control(type='email' name='email' placeholder='example@domain.com')
            label.label(for='message') Message
                textarea.form-control(rows='4' name='message')
                button#submit(name='submit' type='submit') Submit