extends layout

block layout-content
    div.Message
      div.Title
        h1 Welcome
        p.Details Hello my name is Rami Gharbi.
    div.Message
      div.Title
        h1 Hello
        p.Details Im a WEB-DEVELOPER Junior.
    
    
