extends layout

block layout-content
    div.Message
      div.Title
        h1 Service 1
        p.Details This is My first Service .
    div.Message
      div.Title
        h1 Service 2
        p.Details This is my second service .
    div.Message
      div.Title
        h1 Service 3
        p.Details This is my third service.
